# Copy this File
# Rename the new file ".env.local"
# Assign values

# Supabese databese 
NEXT_PUBLIC_SUPASBASE_URL=

NEXT_PUBLIC_SUPASBASE_ANON_KEY=

# Spotify API
SPOTIFY_CLIENT_ID=

SPOTIFY_CLIENT_SECRET=

SPOTIFY_REDIRECT_URI=
